<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#f9f9b7"/>
  
  <link rel="icon" href="../public/images/logo/logo.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap" rel="stylesheet">

  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <header class="header">
    <div class="header_hamburger">
      <button id="hamburgerButton" href="#">☰</button>
    </div>
    <div class="header_brand">
      <img src="images/logo/logo.png" alt="logo">
       <h1>Food Hunter</h1>
    </div>
    <nav id="navigationDrawer" class="header_navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://www.instagram.com/tyatiatyaa/">About Us</a></li>
      </ul>
    </nav>
  </header>

  <div class="hero">
    <div class="hero_inner">
      <div class="hero_content">
        <h2>Looking For Something Good?</h2>
        <h3>Easiest Way To Find Your Favorite Restaurants Around you.</h3>
      </div>
    </div>
  </div>

  <main id="main">
    <a href="#main" class="skip-link" tabindex="1">Go To Content</a>
    <section class="content">
      <h2 class="restaurants_label" tabindex="0">Explore Restaurant</h2>
      <div class="restaurants_element"></div>
    </section>
  </main>

  <footer>
    <p class="footer">&copy; 2022. tyatiatyaa - Food Hunter</p>
  </footer>
</body>
</html>